.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  color: #1f1f22;
  padding: 10px;
  line-height: 1.25rem;
  border-bottom: 1px solid #d6e2f7;
  transition: all 0.25s;
  z-index: 10; }

.task__list .task:first-child {
  border-top: 1px solid #d6e2f7; }

.task:hover {
  background-color: #fff;
  cursor: pointer; }

.task__title {
  z-index: 9; }

.task__date {
  padding-left: 20px; }

.task__mark {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.25s;
  color: #152ae4;
  font-weight: 600;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 95%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 95%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 95%);
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.task__mark i {
  margin-left: 10px; }

.task:hover .task__mark {
  opacity: 1;
  padding-right: 10px; }
