* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", sans-serif;
  background-color: $light;
  color: #fff;
}

#task__list {
  display: flex;
  justify-content: center;
}

.task__wrapper {
  padding-top: 50px;
  width: 40%;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 999px) {
  .task__wrapper {
    width: 80%;
  }
}
