* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 18px;
}

body {
  font-size: 1rem;
  font-family: "Gothic A1", "Helvetica", sans-serif;
  background-color: #141417;
  color: #fff;
}

#task__list {
  display: flex;
  justify-content: center;
}

.task__wrapper {
  padding-top: 100px;
  width: 40%;
}

h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

input:focus,
button:focus {
  outline: none;
}
