@import url("https://fonts.googleapis.com/css?family=Roboto:400,600,700,900");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

:root {
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", sans-serif;
  background-color: #ebf1fb;
  color: #fff; }

#task__list {
  display: flex;
  justify-content: center; }

.task__wrapper {
  padding-top: 50px;
  width: 40%; }

h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0; }

input:focus,
button:focus {
  outline: none; }

@media (max-width: 999px) {
  .task__wrapper {
    width: 80%; } }

/* TASK FORM */
.task__form {
  margin-bottom: 50px; }

.task__form {
  display: flex;
  align-items: center;
  flex-grow: 1; }

.task__form input,
.task__button {
  height: 60px;
  line-height: 60px;
  border: none;
  transition: all 0.25s;
  font-size: 1rem; }

.task__form input {
  padding: 0 20px;
  background-color: #fff;
  color: #1f1f22; }

.input--task-title,
.input--date {
  flex-grow: 1; }

.input--date {
  width: 125px;
  box-shadow: inset 1px 0 0 #ebf1fb; }

.task__form input:focus {
  box-shadow: inset 5px 0 0 #152ae4; }

::placeholder {
  color: #9c9ca4; }

.task__button {
  top: 0;
  right: 0;
  width: 60px;
  background-color: #152ae4;
  color: #ebf1fb; }

.task__button:hover {
  cursor: pointer;
  background-color: #273beb; }

/* TASK ITEM */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #dee8f8;
  width: 100%;
  color: #1f1f22;
  padding: 10px 20px;
  line-height: 1.25rem;
  margin-bottom: 10px;
  transition: all 0.25s; }

.task:hover {
  background-color: #fff;
  cursor: pointer; }

.task__mark {
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.25s;
  color: #152ae4;
  font-weight: 600;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 95%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 95%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 95%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.task__mark i {
  margin-left: 10px; }

.task:hover .task__mark {
  opacity: 1;
  padding-right: 20px; }
