#login {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login input {
  border: none;
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  width: 200px;
  padding: 0 20px;
  transition: all 0.25s;
  background-color: #333339;
  color: #fff;
}

#login input:focus {
  outline: none;
  box-shadow: inset 5px 0 0 #14c384;
}

#login button {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  background-color: #14c384;
  border: none;
  color: #fff;
  font-size: 1rem;
  transition: all 0.25s;
}

#login button i {
  margin-left: 10px;
}

#login button:hover {
  cursor: pointer;
  background-color: #15d48f;
}

#login button:focus {
  outline: none;
}
