@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,600,700,900');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Gothic A1", "Helvetica", sans-serif;
  background-color: #141417;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
}

#wrapperGlobal {
  padding-top: 100px;
  width: 66%;
}
